html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #353941;
    color: #90b8f8;
}

.first-color { 
	background: #353941; 
}
	
.second-color { 
	background: #26282b; 
}

.third-color { 
	background: #5f85db; 
}

.fourth-color { 
	background: #90b8f8; 
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #90b8f8;
}

body {
    width:100%;
    margin: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3rem;
}

.logo {
    padding-left: 25px;
    transition: ease-in-out 0.25s;
}

.logo:hover {
    transform: translateY(-5px);
}

.header {
    display: flex;
    left: 50%;
    background-color: #26282b;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 15px;
}

.menubar {
    width: fit-content;
    padding: 25px;
    display: flex;
    position: relative;
}

.menubutton {
    display: flex;
    padding-right: 50px;
    transition: ease-in-out 0.25s;
    text-decoration: none;
    color: #90b8f8;
}

.selectedbutton {
    display: flex;
    padding-right: 50px;
    transform: translateY(-5px);
    text-decoration: none;
    color: #90b8f8;
}


.menubutton:hover {
    transform: translateY(-5px);
}

.maincontent {
    display: flex;
    flex-direction: column;
}

.headingtext {
    display: inline-block;
    align-items: center;
    align-self: center;
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding-bottom: 250px;
    margin-top: 15vh;
    
    animation-duration: 2s;
    animation-name: slide-in;
}

@keyframes slide-in {
    from {
        translate: 0 10vh;
        opacity: 0;

    }

    to {
        translate: 0 0;
        opacity: 100;
    }
}

@keyframes horizontal-slide-in {
    from {
        translate: 20vh 0;
        opacity: 0;

    }

    to {
        translate: 0 0;
        opacity: 100;
    }
}



.blogs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.postbox {
    opacity: 0;
    padding: 15px;
    text-align: center;
    background-color: #26282b;
    border-radius: 5px;
    width: 25%;

    animation-name: slide-in;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}



@supports(animation-timeline: view()) {
    .paragraphtext {
        opacity: 0;
        padding: 25px;
        margin-top: 15vh;
        background-color: #26282b;
        border-radius: 5px;
        
        animation-duration: 1ms;
        animation-name: horizontal-slide-in;
        animation-timeline: view(y 70% 4%);
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

.scrollText {
    height: 225px;
    overflow-y: auto;
}

.footer {
    display: flex;
    left: 50%;
    background-color: #26282b;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-top: 11%;

}
